- provide(:title, t('.title'))

= render "layouts/home_top"
.home-content
  %table{:style => "width: 90%; margin-left: 5%;"}
    %tbody
      - @clients.each_with_index do |client, i|
        %tr{:height => "24"}
          %td
            = link_to client.title, client_path(client)
          %td{:width => "100"}= client.updated_at.strftime("%Y-%m-%d")

= render "layouts/home_footer"
