/* margin */
.ml-m0 {
  margin: 0 !important;
}

.ml-ml1 {
  margin-left: 1px !important;
}

.ml-ml2 {
  margin-left: 2px !important;
}

.ml-ml5 {
  margin-left: 5px !important;
}

.ml-ml10 {
  margin-left: 10px !important;
}

.ml-ml15 {
  margin-left: 15px !important;
}

.ml-ml20 {
  margin-left: 20px !important;
}

.ml-ml30 {
  margin-left: 30px !important;
}

.ml-mr1 {
  margin-right: 1px !important;
}

.ml-mr2 {
  margin-right: 2px !important;
}

.ml-mr5 {
  margin-right: 5px !important;
}

.ml-mr10 {
  margin-right: 10px !important;
}

.ml-mr15 {
  margin-right: 15px !important;
}

.ml-mr20 {
  margin-right: 20px !important;
}

.ml-mr30 {
  margin-right: 30px !important;
}

.ml-mt0 {
  margin-top: 0px !important;
}

.ml-mt1 {
  margin-top: 1px !important;
}

.ml-mt2 {
  margin-top: 2px !important;
}

.ml-mt5 {
  margin-top: 5px !important;
}

.ml-mt10 {
  margin-top: 10px !important;
}

.ml-mt15 {
  margin-top: 15px !important;
}

.ml-mt20 {
  margin-top: 20px !important;
}

.ml-mt30 {
  margin-top: 30px !important;
}
.ml-mt50 {
  margin-top: 50px !important;
}

.ml-mb0 {
  margin-bottom: 0px !important;
}

.ml-mb1 {
  margin-bottom: 1px !important;
}

.ml-mb2 {
  margin-bottom: 2px !important;
}

.ml-mb5 {
  margin-bottom: 5px !important;
}

.ml-mb10 {
  margin-bottom: 10px !important;
}

.ml-mb15 {
  margin-bottom: 15px !important;
}

.ml-mb20 {
  margin-bottom: 20px !important;
}

.ml-mb30 {
  margin-bottom: 30px !important;
}
/* margin negative */
.ml-ml-1 {
  margin-left: -1px !important;
}

.ml-mr-1 {
  margin-right: -1px !important;
}

.ml-mt-1 {
  margin-top: -1px !important;
}

.ml-mb-1 {
  margin-bottom: -1px !important;
}

.ml-ml-3 {
  margin-left: -3px !important;
}

.ml-mr-3 {
  margin-right: -3px !important;
}

.ml-mt-3 {
  margin-top: -3px !important;
}

.ml-mb-3 {
  margin-bottom: -3px !important;
}

.ml-ml-20 {
  margin-left: -20px !important;
}

.ml-mr-20 {
  margin-right: -20px !important;
}

.ml-mt-20 {
  margin-top: -20px !important;
}

.ml-mb-20 {
  margin-bottom: -20px !important;
}

/* padding */
.ml-p0 {
  padding: 0 !important;
}

.ml-p1 {
  padding: 1px !important;
}

.ml-pl0 {
  padding-left: 0px !important;
}

.ml-pl1 {
  padding-left: 1px !important;
}

.ml-pt1 {
  padding-top: 1px !important;
}

.ml-pr0 {
  padding-right: 0px !important;
}

.ml-pr1 {
  padding-right: 1px !important;
}

.ml-pb1 {
  padding-bottom: 1px !important;
}

.ml-p2 {
  padding: 2px !important;
}

.ml-pl2 {
  padding-left: 2px !important;
}

.ml-pt2 {
  padding-top: 2px !important;
}

.ml-pr2 {
  padding-right: 2px !important;
}

.ml-pb2 {
  padding-bottom: 2px !important;
}

.ml-pl5 {
  padding-left: 5px !important;
}

.ml-p5 {
  padding: 5px !important;
}

.ml-pt5 {
  padding-top: 5px !important;
}

.ml-pr5 {
  padding-right: 5px !important;
}

.ml-pb5 {
  padding-bottom: 5px !important;
}

.ml-pt7{
  padding-top: 7px !important;
}

.ml-p10 {
  padding: 10px !important;
}

.ml-pl10 {
  padding-left: 10px !important;
}

.ml-pt10 {
  padding-top: 10px !important;
}

.ml-pr10 {
  padding-right: 10px !important;
}

.ml-pb10 {
  padding-bottom: 10px !important;
}

.ml-p15 {
  padding: 15px !important;
}

.ml-pl15 {
  padding-left: 15px !important;
}

.ml-pt15 {
  padding-top: 15px !important;
}

.ml-pr15 {
  padding-right: 15px !important;
}

.ml-pb15 {
  padding-bottom: 15px !important;
}

.ml-p20 {
  padding: 20px !important;
}

.ml-pl20 {
  padding-left: 20px !important;
}

.ml-pt20 {
  padding-top: 20px !important;
}

.ml-pr20 {
  padding-right: 20px !important;
}

.ml-pb20 {
  padding-bottom: 20px !important;
}

.ml-p30 {
  padding: 30px !important;
}

.ml-pl30 {
  padding-left: 30px !important;
}

.ml-pt30 {
  padding-top: 30px !important;
}

.ml-pr30 {
  padding-right: 30px !important;
}

.ml-pb30 {
  padding-bottom: 30px !important;
}

.ml-pb105 {
  padding-bottom: 105px !important;
}

.ml-lh30 {
  line-height: 30px !important;
}

.ml-top1{
  top: 1px !important;
}

.ml-min-w100 {
  min-width: 100px;
}

.ml-img-mw100 {
  img {
    max-width: 100% !important;
  }
}

.ml-alert-success{
  background-color: #dff0d8 !important;
  .alert-wrapper{
    color: #333;
  }
}
.ml-alert-info{
  background-color: #d9edf7 !important;
  .alert-wrapper{
    color: #333;
  }
}
.ml-alert-error{
  background-color: #f2dede !important;
  .alert-wrapper{
    color: #333;
  }
}
.parent-text-overflow{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.white-space-nowrap{
  white-space: nowrap;
}

.height-auto {
  height: auto;
  min-height: 34px;
}
.min-height-auto {
  min-height: auto !important;
}
.clear-both:after{
  content: "";
  display: block;
  clear: both;
}

.p-relative {
  position: relative !important;
}
.p-absolute {
  position: absolute !important;
}
.p-static {
  position: static !important;
}
.text-none {
  text-indent: -9999em;
}
.ml-inline-block {
  display: inline-block !important;
}
.ml-block {
  display: block !important;
}
.ml-hidden {
  display: none !important;
}
.text-center {
  text-align: center !important;
}
.ml-border-transparent {
  border-color: transparent;
}
