#carousel-image.carousel.home-carousel.slide{"data-rade" => "carousel"}
  %ol.carousel-indicators.home-carousel-indicators
    %li.active{"data-target" => "#carousel-image", "data-slide-to" => "0"}
    %li{"data-target" => "#carousel-image", "data-slide-to" => "1"}
    %li{"data-target" => "#carousel-image", "data-slide-to" => "2"}
  .carousel-inner{:role => "listbox"}
    - @carsousels.each_with_index do |carsousel, i|
      .item{:class => i == 0 ? "active" : ""}
        = image_tag carsousel.file, :class => "carousel-img home-carousel-img"
        .carousel-caption
